.footer-container{
    height: 220px;
    justify-content: center space-between;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;

    .logo{
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 30px;

        background-color: red;
        width: 50px;
        height: 40px;
        border-radius: 50% 50%;
    }

    .footer-links{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        margin: auto;
        width: 250px;

    }
    
    .footer-icons{
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 180px;
        padding-top: 30px;

    }

    .copyright{
        display: flex;
        justify-content:center;
        margin: auto;
        padding-top: 30px;
    }
    
}