@import "./breakpoints.scss";

.signup-container{

    display: flex;
    justify-content: center;
    height: 500px;


    .form-sign-up{
 
        width: 600px;
        padding-top: 140px;
    }

    .form-log-on{

        width: 600px;
        padding-top: 140px;
    }
    .form-entries-sign-up{
        background-color: sandybrown;
        opacity: 0.5;
        display: grid;
        justify-content: center;
        margin: 100px auto;
        width: 300px;
        border-radius: 5px;
        
    }

    .form-entries-sign-up:hover{
        opacity: 1;
    }

    .form-entries-log-on{
        opacity: 0.5;
        display: grid;
        justify-content: center;
        margin: 8px auto;
        width: 50%;
        border-radius: 5px;
    }
    .form-entries-log-on:hover{
        opacity: 1;
}

    .empty-space-log-on{
        background-image: url("../../static/assets/images/udg_entrance.jpg");
        width: 50%;
        background-size: cover;
        background-position: 83.3% 1%;
        
        @include media('<=small-tablet'){
            display: none;
        }
    }
    .empty-space-sign-up{
        width: 100%
    }

    .signup-bt{
        background-color: none;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .small-letters{

        display: flex;
        justify-content: center;
        
    }
    button{
        margin: auto;
    }
}